"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  "atom-alignment": {}
  "atom-fuzzy-grep":
    inputThrottle: 200
  "atom-terminal-panel":
    WindowHeight: 450
    statusBarText: "%(dynamic) %(username) [%(hours):%(minutes):%(seconds)]"
  "atom-ternjs":
    displayAboveSnippets: true
    excludeLowerPriorityProviders: true
    inlineFnCompletionDocumentation: true
    sort: false
    ternServerDependencyBudget: 30000
  "autocomplete-flow":
    pathToFlowExecutable: "c:/flow/flow"
  "autocomplete-plus": {}
  blame:
    defaultWidth: 280
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-csslint"
      "autocomplete-paths"
      "node-debugger"
      "emmet"
      "atom-jade"
      "atom-terminal-panel"
      "git-diff-details"
      "turbo-javascript"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "target"
      ".atom"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "atom-terminal-panel"
      "git-time-machine"
      "git-blame"
    ]
    projectHome: "D:\\repo"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "css-comb": {}
  editor:
    fontFamily: "Hack"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-blame":
    columnWidth: 270
  "git-diff-details":
    enableSyntaxHighlighting: true
  "git-plus": {}
  "highlight-selected":
    timeout: 100
  "indentation-indicator":
    indicatorPosition: "right"
    spaceAfterColon: true
  "js-hyperclick": {}
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter:
    errorPanelHeight: 26
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-flow":
    executablePath: "c:/flow/flow"
  "linter-flow-plus":
    pathToFlowExecutable: "c:/flow/flow"
    testRuleTwo: true
  "linter-shellcheck": {}
  "merge-conflicts": {}
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "mocha-test-runner":
    nodeBinaryPath: "C:\\nodejs\\node.exe"
  pigments: {}
  react: {}
  "smart-tab-name": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "symbols-tree-view": {}
  tabs:
    enableVcsColoring: true
  tasks: {}
  "tool-bar": {}
  welcome:
    showOnStartup: false
".jade.source":
  editor:
    softWrap: true
