"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  "atom-alignment": {}
  "atom-css-comb": {}
  "atom-csscomb": {}
  "atom-fuzzy-grep":
    grepCommandString: "git grep -i --no-color -n -E"
    inputThrottle: 200
  "atom-terminal-panel":
    WindowHeight: 450
    statusBarText: "%(dynamic) %(username) [%(hours):%(minutes):%(seconds)]"
  "atom-ternjs":
    displayAboveSnippets: true
    useSnippets: true
    useSnippetsAndFunction: true
  blame:
    defaultWidth: 280
  core:
    disabledPackages: [
      "autocomplete-paths"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "atom-terminal-panel"
      "git-time-machine"
      "git-blame"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "css-comb": {}
  editor:
    fontFamily: "Hack"
    fontSize: 16
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-blame":
    columnWidth: 270
  "git-plus": {}
  "highlight-selected":
    timeout: 100
  "js-hyperclick": {}
  linter:
    errorPanelHeight: 26
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "merge-conflicts": {}
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "mocha-test-runner":
    nodeBinaryPath: "C:\\nodejs\\node.exe"
  nuclide:
    remoteProjectsConfig: []
  "nuclide-file-tree": {}
  "nuclide-health":
    showCpu: true
    showMemory: true
  pigments: {}
  react: {}
  "smart-tab-name": {}
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
  "symbols-tree-view": {}
  tabs:
    enableVcsColoring: true
  tasks: {}
  "tool-bar": {}
  welcome:
    showOnStartup: false
".jade.source":
  editor:
    softWrap: true
